.card {
    background: rgba(71, 147, 255, 0.2);
    border-radius: 10px;
    padding: 12px 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 149px;
    max-width: 149px;
    height: 200px;

    .day {
        .day_day {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            margin-bottom: 7px;
        }

        .day_date {
            color: #939CB0;
            font-size: 14px;
            line-height: 17px;
        }
        // margin-bottom: 12px;
    }
.temp {
    h1{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    h2{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #939CB0;        
    }
}
    .description{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;

        height: 32px;
        display: flex;
        align-items: center;
        color: #939CB0;
    }
    svg {
        width: 48px;
        height: 48px;
    }
}
